# Build Folders
bin/
obj/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/
*.sln.iml

# Visual Studio Code
.vscode/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# DotNet specific
project.lock.json
project.fragment.lock.json
artifacts/
*.log

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/
# Uncomment if necessary
# packages/*/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
*.vsidx
/.vs/Ambev.DeveloperEvaluation/v17/.suo
/.vs/db_test/v17/workspaceFileList.bin
/.vs/VSWorkspaceState.json
/obj/Docker/ContainerToolsExceptions.json
/.vs/db_test/v17/.wsuo
/.vs/slnx.sqlite
